$app-color-bg: rgb(205, 90, 145);

$navbar-text-color: #fff;

$board-text-color: #333;
$board-column-color-bg: #ebecf0;

$board-column-width: 273px;

$border-radius: 4px;
$gap: 10px;

$add-column-btn: #3b3b98;

$font-family: 'Roboto', sans-serif;
